<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Perpustakaan 
    </ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card class="kampus"> <img src="/assets/kampus.jpg "><br>


</ion-card>
</ion-content>
<ion-content class="ion-padding" color="light">

  
    <ion-grid> 
      <ion-row>
     
    <ion-col >
  
          <ion-tab-button tab="tab2">

      <img (click)="tabs2()" src="/assets/icon_book.PNG">
    </ion-tab-button> 
    
   
  </ion-col>

  <ion-col>
    
      
       <img src="/assets/icon_pinjam.PNG"><br>
     
    
   </ion-col>
  </ion-row>
  </ion-grid> 


  <ion-grid> 
    <ion-row>
   
  <ion-col>
    <ion-tab-button tab="tab2">

   
    <img src="/assets/icon_ebook.PNG"><br>
  
    </ion-tab-button> 
</ion-col>

<ion-col>
  
    
     <img src="/assets/icon_about.PNG"><br>
   
  
 </ion-col>
</ion-row>
</ion-grid> 
  
    
  
      
    
  
</ion-content>
